{% extends 'html/display.html' %}

{% block title %}
    <h1>Update Student</h1>
{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" value="{{data.name}}">
        <br><br>

        <label for="email">Email</label>
        <input type="text" name="email" value="{{data.email}}">
        <br><br>

        <label for="name">Password</label>
        <input type="text" name="pass" value="{{data.password}}">
        <br><br>
         
        <button>Update</button>
    </form>
{% endblock %}